{% extends 'base.html' %}
{% block title %}Nic UnCaged: Home{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <h1>Welcome!</h1>
            </p>
            <p>
                Nic UnCaged is a project dedicated to fans who are passionate about the amazing and prolific acting career of Nicolas Cage. 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <h3>Under Construction:</h3>
            </p>
            <p>
                <ul>
                    <li>Search bar functionality</li>
                    <li>User account page</li>
                    <li>Movie "like" button and tracking</li>
                    <li>More to come...</li>
                </ul>
            </p>
        </div>
    </div>
</div>

{% endblock %}